* {
  padding: 0;
  margin: 0; }

body {
  color: #626262;
  background-color: #f7f8f9;
  font: 14px/1.5 "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", Dengxian, Arial, SimSun, sans-serif; }

div.wrapper {
  min-width: 1140px; }

a {
  text-decoration: none;
  color: #444; }

ul, ol {
  list-style: none; }

input, textarea {
  font: inherit; }

@font-face {
  font-family: 'FontAwesome';
  src: url("http://davedavehong.b0.upaiyun.com/fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("http://davedavehong.b0.upaiyun.com/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("http://davedavehong.b0.upaiyun.com/fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("http://davedavehong.b0.upaiyun.com/fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("http://davedavehong.b0.upaiyun.com/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal; }
.header-wrapper {
  background: #000 url("http://davedavehong.b0.upaiyun.com/images/smartisan/top-pumel-bg.jpg") no-repeat top center;
  width: 100%;
  height: 100px; }
  .header-wrapper .header-container {
    width: 1120px;
    margin: 0 auto;
    font-size: 12px; }
    .header-wrapper .header-container a.logo {
      float: left;
      display: block;
      width: 38px;
      height: 38px;
      margin: 31px 0 0;
      background: url("http://davedavehong.b0.upaiyun.com/images/smartisan/logo.png") no-repeat left; }
    .header-wrapper .header-container div.nav-list {
      float: right;
      padding-top: 19px; }
      .header-wrapper .header-container div.nav-list ul {
        float: left; }
        .header-wrapper .header-container div.nav-list ul li {
          float: left;
          height: 26px;
          padding: 25px 20px 0;
          line-height: 14px;
          font-size: 13px;
          letter-spacing: 1px;
          color: #FFF;
          opacity: .8;
          transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -moz-user-select: none; }
          .header-wrapper .header-container div.nav-list ul li:hover {
            opacity: 1; }
        .header-wrapper .header-container div.nav-list ul .selected {
          opacity: 1; }
      .header-wrapper .header-container div.nav-list .buy-col {
        position: relative;
        float: left;
        width: 200px;
        margin-left: 20px;
        padding-left: 35px; }
        .header-wrapper .header-container div.nav-list .buy-col:before {
          position: absolute;
          left: 0;
          top: 24px;
          overflow: hidden;
          display: block;
          content: " ";
          width: 1px;
          height: 13px;
          background: #757575; }
        .header-wrapper .header-container div.nav-list .buy-col a {
          float: left;
          width: 92px;
          height: 26px;
          margin: 0 0 6px 6px;
          border: 1px solid #757575;
          border-radius: 4px;
          line-height: 26px;
          text-align: center;
          font-size: 12px;
          color: #FFF;
          opacity: .8;
          transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -moz-user-select: none; }
          .header-wrapper .header-container div.nav-list .buy-col a:hover {
            opacity: 1;
            border: 1px solid #CACFD7; }
        .header-wrapper .header-container div.nav-list .buy-col .buy-button {
          background: #5079d9;
          border: 1px solid #5079d9;
          color: #FFF;
          opacity: 1; }
          .header-wrapper .header-container div.nav-list .buy-col .buy-button:hover {
            background: #FFF;
            border: 1px solid #FFF;
            color: #000; }

.header-menu-wrapper {
  position: relative;
  width: 100%;
  height: 38px;
  line-height: 38px;
  background: url("http://davedavehong.b0.upaiyun.com/images/smartisan/global-gray-bg.jpg") repeat-x; }
  .header-menu-wrapper .header-container {
    width: 1120px;
    margin: 0 auto;
    font-size: 12px; }
    .header-menu-wrapper .header-container ul.breadcrumb {
      float: left;
      color: #45474b; }
    .header-menu-wrapper .header-container .header-account-wrapper {
      position: relative;
      float: right; }
      .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel {
        float: left; }
        .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label {
          position: relative;
          z-index: 101;
          display: inline-block;
          float: left;
          width: 85px;
          height: 28px;
          margin-top: 5px; }
          .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label a.account-link {
            position: relative;
            display: block;
            line-height: 28px;
            padding-left: 9px; }
            .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label a.account-link:after {
              content: "\f078";
              position: absolute;
              right: 0.7em;
              font-family: FontAwesome, serif;
              -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
              -webkit-transition-property: transform;
              transition-property: transform;
              -webkit-transition-timing-function: ease-in-out;
              transition-timing-function: ease-in-out; }
          .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label:hover {
            background-color: #f3f3f3;
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.27);
            border-bottom: #ddd solid 1px;
            border-radius: 8px 8px 0 0; }
          .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label:hover .account-link:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
          .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label:hover ul.account-con {
            display: block; }
          .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label ul.account-con {
            display: none;
            position: absolute;
            overflow: hidden;
            text-indent: 10px;
            right: 0;
            top: 29px;
            width: 85px;
            background: #fff;
            padding-bottom: 5px;
            border-radius: 0 0 8px 8px;
            box-shadow: 0 3px 16px rgba(0, 0, 0, 0.27); }
            .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label ul.account-con li {
              height: 26px;
              line-height: 26px;
              margin: 3px;
              transition: all .3s ease;
              -moz-transition: all .3s ease;
              -webkit-transition: all .3s ease;
              -o-transition: all .3s ease; }
              .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.account-label ul.account-con li:hover {
                border-radius: 4px;
                background-color: #8F9096;
                color: #fff; }
        .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.cart-label {
          position: relative;
          display: inline-block;
          width: 50px; }
          .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.cart-label a {
            padding-left: 10px;
            display: block;
            color: #444; }
          .header-menu-wrapper .header-container .header-account-wrapper .header-account-panel section.cart-label:before {
            position: absolute;
            top: 15px;
            overflow: hidden;
            display: block;
            content: " ";
            width: 1px;
            height: 9px;
            background: #8c8c8c; }

/*# sourceMappingURL=home.css.map */
