$width-content: 1120px;
$upyun-link: 'http://davedavehong.b0.upaiyun.com/images/smartisan/';
@function link($s) {
  @return 'url(\'http://davedavehong.b0.upaiyun.com/images/smartisan/' + $s + '\')';
}

.header-wrapper {
  background: #000 no-repeat top center;
  background-image: unquote(link(top-pumel-bg\.jpg));
  width: 100%;
  height: 100px;
  .header-container {
    width: $width-content;
    margin: 0 auto;
    font-size: 12px;
    a.logo {
      float: left;
      width: 38px;
      height: 38px;
      padding: 31px 0 0;
    }
  }
}