$width-content:1120px;

.header-wrapper{
  background-color: #000;
  background: url(http://davedavehong.b0.upaiyun.com/images/smartisan/top-pumel-bg.jpg) top center no-repeat;
  width: 100%;
  height: 100px;
  .header-container{
    width: $width-content;
    margin: 0 auto;
    font-size: 12px;
  }
}