* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  color: #333;
  background-color: #f7f8f9;
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", Dengxian, Arial, SimSun, sans-serif;
}

a {
  text-decoration: none;
  color: #444;
}

ul ol{
  list-style: none;
}

input, textarea {
  font: inherit;
}